<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <title>Juliana Lacerda Ortodontia</title>

    <!-- Stylesheet -->
    <link href="../assets/styles.min.css" rel="stylesheet/less">
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Character Encoding -->
    <meta charset="utf-8" />
    <!-- Page Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo.png" />

  </head>

  <body>
    <nav class="center">
      <a class="back" href="../index.html">
        <i class="fas fa-arrow-left"></i>
      </a>
      <div class="phone">
        <i class="fas fa-phone"></i>
        <div>
          <span>(62) 3099-6094</span>
          <span>(62) 98155-5928</span>
        </div>
      </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i>
        <span>Av.Dom Prudêncio n.40 sala <br> 2, 2º andar. Odontoimagem</span>
      </div>
    </nav>

    <header class="alt">
      <div class="logo">
        <img src="../assets/img/logo-and-text.png" alt="Juliana Lacerda Ortodontia">
      </div>
    </header>

    <div class="tail">

      <section class="testimonies">
        <h2>Depoimentos</h2>
        <div class="top">
          <div class="photo">
            <img src="../assets/img/juliana-alt.png" alt="Juliana Lacerda">
          </div>
          <p>
            Tive a oportunidade em conhecer Dra. Juliana Lacerda por indicação de uma conhecida. Desde a primeira consulta me impressionei com a qualidade do atendimento. Meus filhos sempre ficavam satisfeitos com a forma carinhosa em que ela e sua equipe os recebiam. Além do profissionalismo ela tem todo diferencial. Sou muito grata e fiquei bem satisfeita com todo trabalho efetuado, e além do mais todos elogiam o sorriso dos meus 3 filhos. A Dra. Juliana é uma excelente profissional, isso eu garanto! <br>
            <span>- Depoimento de Marta Amorim.</span>
          </p>
        </div>
        <div class="bottom">
          <p>
            Conheci a doutora Juliana quando meu primeiro filho João Victor tinha um dente supra numerário o precisou de tratamento ortodôntico. Desde a primeira consulta fiquei impressionada com a recepção, o atendimento, o consultório da doutora Juliana e sua secretária. Ela nos transmite bastante segurança e transparência em seu trabalho. Atende com hora marcada (me lembra um dia antes rsrsrs 😅) e é super pontual. Aos poucos percebi que além de ser uma profissional de excelência ela é uma um ser humano incrível. Antes pensava que ortodontia seria para adolescentes e adultos, mas pude perceber a importância que tem para o desenvolvimento da criança. Assim meu segundo filho João Miguel também fez tratamento e agora a minha pequenininha Maria Gabriela está fazendo acompanhamento com ela. Só tenho agradecer a doutora Juliana pelo excelente trabalho e o carinho que nos trata. Recomendo a todos. <br>
            <span>- Depoimento de Ana Cristina Zeni.</span>
          </p>
          <p>
            Conheci a Doutora Juliana através da amizade das nossas filhas na escola. Nela depositei toda minha confiança quanto aos tratamentos ortodônticos que ela realizou em mim e vem realizando nas minhas filhas.Profissional de respeito, educada, pontual, e ainda oferece aos seus pacientes um ambiente extremamente confortável e agradável! Super indico o seu trabalho à todos que me perguntam! <br>
            <span>- Depoimento de Jennifer Naoum.</span>
          </p>
        </div>

      </section>

      <section class="contact" id="contact">
        <div class="map">
          <i class="fas fa-map-marker-alt"></i>
          <div class="address">Av Dom Prudêncio n. 40 sala 2. 2° andar. Odontoimagem Bairro Jundiaí - Anápolis - GO 75113-080</div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=Av%20Dom%20Prud%C3%AAncio%20n.%2040%20sala%202.%202%C2%B0%20andar.%20%20Odontoimagem%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Bairro%20Jundia%C3%AD%20-%20An%C3%A1polis%20-%20GO%2075113-080&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="mailer">
          <div>
            <h1>Agende uma Avaliação</h1>
            <h4>Deixe seus dados e entraremos em contato.</h4>
          </div>

          <form action="https://getform.io/f/0489dc35-8d69-4a18-a3af-06260608f9e1" method="POST">
            <input type="text" id="name" name="name" placeholder="Nome">
            <input type="text" id="phone" name="phone" placeholder="Telefone">
            <input type="text" id="time" name="time" placeholder="Melhor horário para contato">
            <textarea id="message" name="message" placeholder="Mensagem"></textarea>
            <button id="submit" type="submit">ENVIAR</button>
          </form>
        </div>
      </section>
    </div>

  </body>
  <!-- Less Compiler -->
  <script src="//cdn.jsdelivr.net/npm/less@3.13" type="text/javascript"></script>
  <!-- FA Icons -->
  <script src="https://kit.fontawesome.com/af6a9f2a9f.js" crossorigin="anonymous"></script>
</html>