<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196829936-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-196829936-1');
    </script>

    <title>Juliana Lacerda Ortodontia</title>

    <!-- Stylesheet -->
    <link href="../assets/styles.min.css" rel="stylesheet/less">
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Character Encoding -->
    <meta charset="utf-8" />
    <!-- Carousel styles -->
    <link rel="stylesheet" href="../assets/js/flickity.min.css">
    <!-- Page Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo.png" />

  </head>

  <body id="page-top">
    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5562981555928" class="whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>

    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>Navegação</li>
        <li><a href="#page-top">Início</a></li>
        <li><a href="#curriculum">Dra. Juliana Lacerda</a></li>
        <li><a href="#treatments">Tratamentos</a></li>
        <li><a href="/depoimentos">Depoimentos</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>

    <nav>
      <div class="phone">
        <i class="fas fa-phone"></i>
        <div>
          <span>(62) 3099-6094</span>
          <span>(62) 98155-5928</span>
        </div>
      </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i>
        <span>Av.Dom Prudêncio n.40 sala <br> 2, 2º andar. Odontoimagem</span>
      </div>
    </nav>

    <header>
     <video loop muted autoplay class="desktop">
          <source src="/assets/img/masthead.mpeg" type="video/mpeg">
          <source src="/assets/img/masthead.webm" type="video/webm">
     </video>
     <video loop muted autoplay class="mobile">
          <source src="/assets/img/mobile-masthead.mpeg" type="video/mpeg">
          <source src="/assets/img/mobile-masthead.webm" type="video/webm">
     </video>
      <div class="logo">
        <img src="../assets/img/logo-and-text.png" alt="Juliana Lacerda Ortodontia">
      </div>
    </header>

    <div class="tail">
      <section class="curriculum" id="curriculum">
        <div class="photo">
          <img src="../assets/img/juliana.jpeg" alt="Juliana Lacerda">
        </div>
        <div class="mini-cv">
          <h2>Quem cuida do seu sorriso?</h2>
          <div>
            Formada pela Faculdade de Odontologia da Universidade Federal de Goiás desde 1997. Especialista em Odontopediatria pela ABO-GO. Especialista em Ortodontia pela FUNORTE.
          </div>
          <div>
            Atende crianças, adolescentes e adultos em todos os assuntos relacionados a ortodontia e ortopedia funcional dos maxilares.
          </div>
        </div>
      </section>

      <section class="treatments" id="treatments">
        <h2>Tratamentos</h2>
        <div class="gallery js-flickity">
          <a href="/invisalign" class="gallery-cell">
            <img src="../assets/img/invisalign.jpeg" alt="Invisalign"></img>
            <button>Invisalign</button>
          </a>
          <a href="/ortodontia" class="gallery-cell">
            <img src="../assets/img/ortodontia.jpeg" alt="Ortodontia"></img>
            <button>Ortodontia</button>
          </a>
          <a href="/ortopedia" class="gallery-cell">
            <img src="../assets/img/ortopedia-funcional.jpeg" alt="Ortopedia funcional dos maxilares"></img>
            <button>Ortopedia funcional dos maxilares</button>
          </a>
          <a href="/clareamento" class="gallery-cell">
            <img src="../assets/img/clareamento.jpeg" alt="exemplo"></img>
            <button>Clareamento</button>
          </a>
          <a href="/odonto-mio" class="gallery-cell">
            <img src="../assets/img/odontologia-miofuncional.jpeg" alt="outro exemplo"></img>
            <button>Odontologia Miofuncional</button>
          </a>
          <a href="/odonto-sono" class="gallery-cell">
            <img src="../assets/img/odontologia-sono.jpeg" alt="outro exemplo"></img>
            <button>Odontologia do Sono</button>
          </a>
        </div>
      </section>

      <section class="contact" id="contact">
        <div class="map">
          <i class="fas fa-map-marker-alt"></i>
          <div class="address">Av Dom Prudêncio n. 40 sala 2. 2° andar. Odontoimagem Bairro Jundiaí - Anápolis - GO 75113-080</div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                id="gmap_canvas"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3828.8112463871425!2d-48.947363685138114!3d-16.332585988718684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ea461f97f61af%3A0x28fef6e1cefb04e2!2sOdonto%20Imagem!5e0!3m2!1sen!2sbr!4v1624632302974!5m2!1sen!2sbr"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="mailer">
          <div>
            <h1>Agende uma Avaliação</h1>
            <h4>Deixe seus dados e entraremos em contato.</h4>
          </div>

          <form action="https://getform.io/f/0489dc35-8d69-4a18-a3af-06260608f9e1" method="POST">
            <input type="text" id="name" name="name" placeholder="Nome">
            <input type="text" id="phone" name="phone" placeholder="Telefone">
            <input type="text" id="time" name="time" placeholder="Melhor horário para contato">
            <textarea id="message" name="message" placeholder="Mensagem"></textarea>
            <button id="submit" type="submit">ENVIAR</button>
          </form>
        </div>
      </section>
    </div>
  </body>
  <!-- Carousel JS -->
  <script src="../assets/js/flickity.pkgd.min.js"></script>
  <script src="../assets/js/main.js"></script>
  <!-- Less Compiler -->
  <script src="//cdn.jsdelivr.net/npm/less@3.13" type="text/javascript"></script>
  <!-- FA Icons -->
  <script src="https://kit.fontawesome.com/af6a9f2a9f.js" crossorigin="anonymous"></script>
</html>