<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <title>Juliana Lacerda Ortodontia</title>

    <!-- Stylesheet -->
    <link href="../assets/styles.scss" rel="stylesheet/less">
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Character Encoding -->
    <meta charset="utf-8" />
    <!-- Page Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo.png" />

  </head>

  <body>
    <nav class="center">
      <a class="back" href="../index.html">
        <i class="fas fa-arrow-left"></i>
      </a>
      <div class="phone">
        <i class="fas fa-phone"></i>
        <span>(62)30996094</span>
      </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i>
        <span>Av.Dom Prudêncio n.40 sala <br> 2, 2º andar. Odontoimagem</span>
      </div>
    </nav>

    <header class="alt">
      <div class="logo">
        <img src="../assets/img/logo-and-text.png" alt="Juliana Lacerda Ortodontia">
      </div>
    </header>

    <div class="tail">

      <section class="treatment">
        <h2>Ortopedia funcional dos maxilares</h2>

        <div>
          <div class="photo">
            <img src="../assets/img/ortopedia-O.png" alt="Juliana Lacerda">
          </div>
          <p>Ortopedia funcional dos maxilares trata as alterações crescimento da maxila e mandíbula em crianças. Através de aparelhos ortopédicos podemos redirecionar o crescimento melhorando a forma das arcadas superiores e inferiores. Assim, maxila atresicas, mordidas cruzadas ( anteriores e posteriores), mandíbula retraídas podem ser tratadas na infância, a partir dos 5 anos.</p>
        </div>
      </section>

      <section class="contact" id="contact">
        <div class="map">
          <i class="fas fa-map-marker-alt"></i>
          <div class="address">Av Dom Prudêncio n. 40 sala 2. 2° andar. Odontoimagem Bairro Jundiaí - Anápolis - GO 75113-080</div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=Av%20Dom%20Prud%C3%AAncio%20n.%2040%20sala%202.%202%C2%B0%20andar.%20%20Odontoimagem%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Bairro%20Jundia%C3%AD%20-%20An%C3%A1polis%20-%20GO%2075113-080&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="mailer">
          <div>
            <h1>Agende uma Avaliação</h1>
            <h4>Deixe seus dados e entraremos em contato.</h4>
          </div>

          <form action="https://getform.io/f/0489dc35-8d69-4a18-a3af-06260608f9e1" method="POST">
            <input type="text" id="name" name="name" placeholder="Nome">
            <input type="text" id="phone" name="phone" placeholder="Telefone">
            <input type="text" id="time" name="time" placeholder="Melhor horário para contato">
            <textarea id="message" name="message" placeholder="Mensagem"></textarea>
            <button id="submit" type="submit">ENVIAR</button>
          </form>
        </div>
      </section>
    </div>

  </body>
  <!-- Less Compiler -->
  <script src="//cdn.jsdelivr.net/npm/less@3.13" type="text/javascript"></script>
  <!-- FA Icons -->
  <script src="https://kit.fontawesome.com/af6a9f2a9f.js" crossorigin="anonymous"></script>
</html>